.navibar {
    display:flexbox;
    padding: 1rem0;
}
.nav {
    display:flex;
    justify-content: center;
    background-color: #1e1b4b;
    list-style-type:none;
    gap: 2rem;
    margin:0;
    padding:0;
    flex-wrap:wrap;
}
li {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    transition:0.3s ease;
}